---
layout: default
---

{% assign post = page %}
{% assign detail = true %}

{% include post.html %}

<div id="pagination">
	{% if page.previous %}
		<a class="prev" href="{{ page.previous.url }}">&laquo; {{ page.previous.title | truncatewords:5 }}</a>
	{% endif %}
	
	{% if page.next %}
		<a class="next" href="{{ page.next.url }}">{{ page.next.title | truncatewords:5 }} &raquo;</a>
	{% endif %}
</div>

<div id="comments">
<!--
	<div id="disqus_thread"></div>

	<script type="text/javascript">
		var disqus_developer = (/localhost|github|dev/i).test(location.host);
	</script>

	<script type="text/javascript" src="http://disqus.com/{{ site.disqus.id }}/embed.js"></script>

	<noscript>
		<a href="http://{{ site.disqus.id }}.disqus.com/?url=ref">View the discussion thread.</a>
	</noscript>
-->
<div id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'jaysonzheng'; // 注意，这里的 example 要替换为你自己的短域名
/* * * 下面这些不需要改动 * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

</div>


